*::before,
*::after,
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 6px;
}

@media (min-width: 700px) {
    html{
        font-size: 8px;
    }
}

@media (min-width: 900px) {
    html{
        font-size: 10px;
    }
}

html,
body,
.banner
{
    height: 100%;
}

body{
    font-size: 1.6rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.banner{
    display: grid;
    place-items: center;
    background-image: url('../images/banner.webp');
    background-size: cover;
    background-position: center top;
    text-align: center;
    padding: 15px;
}

.banner__title{
    --text-stroke: 1px;
    color: #ffffff;
    font-size: 12rem;
    font-weight: 800;
    text-shadow:
        calc(var(--text-stroke) * -1) calc(var(--text-stroke) * -1) 0px #000000,
        calc(var(--text-stroke) * -1) 1px 0px #000000,
        var(--text-stroke) calc(var(--text-stroke) * -1) 0px #000000,
        var(--text-stroke) var(--text-stroke) 0px #000000,
        0.8rem 0.6rem 0px #000000;
    margin-bottom: 3rem;
}

@media (max-width: 699px){
    .banner__title{
        line-height: 1;
    }
}

.banner__text{
    color: #000000;
    font-size: 2.8rem;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}